@model Transportadora.UI.Site.ViewModels.CustomerViewModel
@using Transportadora.UI.Site.ViewModels

@{ ViewData["Title"] = "Novo Cliente";}

<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a asp-action="Index" data-toggle="tooltip" title="Voltar Para lista" class="btn btn-primary"><i class="fa fa-arrow-left "></i> Voltar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cadastrar Cliente</h3>
            </div>
            <div class="panel-body">
                <form asp-action="Create">
                    <ul class="nav nav-tabs">

                        <li class="active">
                            <a href="#Principal" data-toggle="tab">Principal</a>
                        </li>
                        <li>
                            <a href="#Endereco" data-toggle="tab">Endereço</a>
                        </li>
                        <li>
                            <a href="#Documentos" data-toggle="tab">Documentos</a>
                        </li>
                    </ul>
                    <div class="tab-content ">
                        <div class='tab-pane active' id="Principal">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label><b style="color:red"> *</b>
                                <input asp-for="Name" required class="form-control" />
                                <span asp-validation-for="Name"  class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="KindPerson" class="control-label"></label><b style="color:red"> *</b>
                                <select name="KindPerson" required id="KindPerson" class="form-control">
                                    <option></option>
                                    <option value="0">Física</option>
                                    <option value="1">Jurídica</option>

                                </select>
                                <span asp-validation-for="KindPerson" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:none" id="divCnpj">
                                <label class="control-label">CNPJ</label><b style="color:red"> *</b>
                                <input id="DocumentCnpj" required name="DocumentCnpj" class="form-control" maxlength="18" onKeyPress="MascaraCNPJ(this);" onblur="ValidarCNPJ(this)" />
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:none" id="divCpf">
                                <label class="control-label">CPF</label><b style="color:red"> *</b>
                                <input id="DocumentCpf" name="DocumentCpf" required class="form-control" maxlength="14" onKeyPress="MascaraCPF(this);" onblur="ValidarCPF(this)" />
                                <span asp-validation-for="Document" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateSince" class="control-label"></label>
                                <input type="text" asp-for="DateSince" class="form-control dates" data-format="dd/MM/yyyy" onKeyPress="MascaraData(this);" maxlength="10" onblur="ValidaData(this)" />
                                <span asp-validation-for="DateSince" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Observation" class="control-label"></label>
                                <input asp-for="Observation" class="form-control" />
                                <span asp-validation-for="Observation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreditLimit" class="control-label"></label><b style="color:red"> *</b>
                                <input asp-for="CreditLimit" class="form-control" required onkeyup="formatarMoeda(this);" />
                                <span asp-validation-for="CreditLimit" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CelPhone" class="control-label"></label><b style="color:red"> *</b>
                                <input asp-for="CelPhone" required class="form-control" onKeyPress="MascaraTelefone(this);" maxlength="15" onBlur="ValidaTelefone(this);" />
                                <span asp-validation-for="CelPhone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class='tab-pane' id="Endereco">
                            <div class="form-group">
                                <label asp-for="Address.AddressLine" class="control-label"></label><b style="color:red"> *</b>
                                <input asp-for="Address.AddressLine" required class="form-control" />
                                <span asp-validation-for="Address.AddressLine" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address.Number" class="control-label"></label>
                                <input asp-for="Address.Number" class="form-control" />
                                <span asp-validation-for="Address.Number" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address.Neighborhood" class="control-label"></label><b style="color:red"> *</b>
                                <input asp-for="Address.Neighborhood" required class="form-control" />
                                <span asp-validation-for="Address.Neighborhood" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address.State" class="control-label"></label><b style="color:red"> *</b>
                                <select name="Address.State_id" id="State_id" required class="form-control">
                                    <option></option>
                                    @foreach (var state in (ViewData["States"] as List<StateViewModel>))
                                    {
                                <option value="@state.Id">@state.Uf - @state.Name</option>
}
                                </select>
                                <span asp-validation-for="Address.State" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address.City" class="control-label"></label><b style="color:red"> *</b>
                                <input id="City_Id" class="form-control" required name="Address.City_Id" />
                                <span asp-validation-for="Address.City" class="text-danger"></span>
                            </div>

                            <div>

                            </div>
                            <div class="form-group">
                                <label asp-for="Address.PostalCode" class="control-label"></label><b style="color:red"> *</b>
                                <input asp-for="Address.PostalCode" class="form-control" required maxlength="10" onKeyPress="MascaraCep(this);" />
                                <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class='tab-pane' id="Documentos">
                            <div id="infoPessoaJuridica" style="display:none">
                                <div class="form-group">
                                    <label asp-for="StateRegistration" class="control-label"></label>
                                    <input asp-for="StateRegistration" class="form-control" />
                                    <span asp-validation-for="StateRegistration" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MunicipalRegistration" class="control-label"></label>
                                    <input asp-for="MunicipalRegistration" class="form-control" />
                                    <span asp-validation-for="MunicipalRegistration" class="text-danger"></span>
                                </div>
                            </div>
                            <div id="infoPessoaFisica" style="display:none">
                                <div class="form-group">
                                    <label asp-for="GeneralRecord" class="control-label"></label>
                                    <input asp-for="GeneralRecord" class="form-control" />
                                    <span asp-validation-for="GeneralRecord" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DispatchingAgency" class="control-label"></label><b style="color:red"> *</b>
                                    <input asp-for="DispatchingAgency" class="form-control" />
                                    <span asp-validation-for="DispatchingAgency" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UFRG" class="control-label"></label>
                                    <input asp-for="UFRG" class="form-control" />
                                    <span asp-validation-for="UFRG" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IssuanceDate" class="control-label"></label><b style="color:red"> *</b>
                                    <input type="text" asp-for="IssuanceDate" class="form-control dates" data-format="dd/MM/yyyy" onKeyPress="MascaraData(this);" maxlength="10" onblur="ValidaData(this)" />
                                    <span asp-validation-for="IssuanceDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BirthDate" class="control-label"></label>
                                    <input type="text" asp-for="BirthDate" class="form-control dates" data-format="dd/MM/yyyy" onKeyPress="MascaraData(this);" maxlength="10" onblur="ValidaData(this)" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Gênero</label><b style="color:red"> *</b>
                                    <select name="Genre" id="Genre" class="form-control">
                                        <option></option>
                                        <option value="0">Masculino</option>
                                        <option value="1">Feminino</option>

                                    </select>
                                    <span asp-validation-for="Genre" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Estado Civil</label><b style="color:red"> *</b>

                                    <select name="MaritalStatus" id="MaritalStatus" class="form-control">
                                        <option></option>
                                        <option value="0">Solteiro</option>
                                        <option value="1">Casado</option>
                                        <option value="2">Viúvo</option>
                                        <option value="3">Divorciado</option>
                                        <option value="4">Separado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="pull-right">
                        <button type="reset" data-toggle="tooltip" title="Limpar Formulário" class="btn btn-warning">
                            <i class="fa fa-eraser "></i> Limpar
                        </button>
                        <button type="submit" data-toggle="tooltip" title="Salvar" class="btn btn-primary">
                            <i class="fa fa-save"></i> Salvar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
$(document).ready(function () {
        $('select').select2();
        $('.dates').datetimepicker({
            pickTime: false,
            format: 'DD/MM/YYYY'
        });

    $('#City_Id').select2({
        data: {
            id: "",
            text: ""
        }
    });

    $('#State_id').change(function () {
            $('#City_Id').select2({
                ajax: {
                    placeholder: 'Selecione a cidade',
                    url: '@Url.Content("~/Cadastro")/Employees/GetCityByStateId/?StateId=' + $('#State_id').val(),
                    dataType: 'json',
                    quietMillis: 100,
                    data: function (term) {
                        return {
                            q: term, // search term
                        };
                    },
                    results: function (data) {
                        var myResults = [];
                        $.each(data, function (index, item) {
                            myResults.push({
                                'id': item.id,
                                'text': item.text
                            });
                        });
                        return {
                            results: myResults
                        };
                    },
                    minimumInputLength: 3
                }
            });
        })

    $('#KindPerson').change(function () {
        let valor = $(this).val();
        if (valor === '0') {
            $("#divCnpj").css("display", "none");
            $("#divCpf").css("display", "block");
            $("#DocumentCnpj").attr('name', 'DocumentCnpj');
            $("#DocumentCpf").attr('name', 'Document');
            $("#infoPessoaJuridica").css("display", "none");
            $("#infoPessoaFisica").css("display", "block");
        } else {
            $("#divCnpj").css("display", "block");
            $("#divCpf").css("display", "none");
            $("#DocumentCnpj").attr('name', 'Document');
            $("#DocumentCpf").attr('name', 'DocumentCpf');
            $("#infoPessoaJuridica").css("display", "block");
            $("#infoPessoaFisica").css("display", "none");
        }
    })
    });</script>

